"02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient.py"       diff=nodiff 
"02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient_Checking.py"      diff=nodiff 
01-Neural-Networks-and-Deep-Learning/week2/01-Logistic-Regression-as-a-Neural-Network.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week2/02-vectorization.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week2/Programming-Assignments/Logistic_Regression_with_a_Neural_Network_mindset_v3.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week2/Programming-Assignments/Python_Basics_With_Numpy_v2.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week3/Programming-Assignments/Planar_data_classification_with_one_hidden_layer_v2.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week3/shallow-neural-network.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week4/Programming-Assignments/Building_your_Deep_Neural_Network-Step_by_Step/Building_your_Deep_Neural_Network_Step_by_Step_v3.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week4/Programming-Assignments/Deep_Neural_Network_Application_Image_Classification/Deep_Neural_Network_Application_v3.py      diff=nodiff  
01-Neural-Networks-and-Deep-Learning/week4/deep-neural-networks.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week1/Practical-aspects-of-Deep-Learning.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Initialization/Initialization.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Regularization/Regularization.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week2/Programming-Assignments/Optimization_methods.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week2/optimization-algoritihms.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week3/Programming-Assignments/Tensorflow_Tutorial.py      diff=nodiff  
02-Improving-Deep-Neural-Networks/week3/hyperparameter-tuning-and-programming-frameworks.py      diff=nodiff  
