[remote "origin"]
    url = https://github.com/andersy005/deep-learning-specialization-coursera.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[remote "github"]
    url = git@github.com:huangyingw/deep-learning-specialization-coursera.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = origin
    branch = master
[merge]
	allow = true
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[branch "master"]
    remote = origin
    merge = refs/heads/master
[commit]
	message = n
[vrun]
	silent = false
	async = false
[deploy]
	host = localhost
	path = ~/myproject/git/AI/coursera/andersy005/deep-learning-specialization-coursera
[gdif]
    ignore = *.ipynb.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week2/01-Logistic-Regression-as-a-Neural-Network.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week2/02-vectorization.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week2/Programming-Assignments/Logistic_Regression_with_a_Neural_Network_mindset_v3.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week2/Programming-Assignments/Python_Basics_With_Numpy_v2.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week3/Programming-Assignments/Planar_data_classification_with_one_hidden_layer_v2.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week3/shallow-neural-network.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week4/Programming-Assignments/Building_your_Deep_Neural_Network-Step_by_Step/Building_your_Deep_Neural_Network_Step_by_Step_v3.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week4/Programming-Assignments/Deep_Neural_Network_Application_Image_Classification/Deep_Neural_Network_Application_v3.py
    ignore = 01-Neural-Networks-and-Deep-Learning/week4/deep-neural-networks.py
    ignore = 02-Improving-Deep-Neural-Networks/week1/Practical-aspects-of-Deep-Learning.py
    ignore = 02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient.py	
    ignore = 02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient_Checking.py	
    ignore = 02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Initialization/Initialization.py
    ignore = 02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Regularization/Regularization.py
    ignore = 02-Improving-Deep-Neural-Networks/week2/Programming-Assignments/Optimization_methods.py
    ignore = 02-Improving-Deep-Neural-Networks/week2/optimization-algoritihms.py
    ignore = 02-Improving-Deep-Neural-Networks/week3/Programming-Assignments/Tensorflow_Tutorial.py
    ignore = 02-Improving-Deep-Neural-Networks/week3/hyperparameter-tuning-and-programming-frameworks.py
