"02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient.py"       diff=nodiff 
"02-Improving-Deep-Neural-Networks/week1/Programming-Assignments/Gradient Checking/Gradient_Checking.py"      diff=nodiff 
